POSTGRES_HOST=postgres
POSTGRES_DB=practico01
POSTGRES_USER=root
POSTGRES_PASSWORD=practico01_2026
DJANGO_SUPERUSER_EMAIL=btocarmona@gmail.com
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin6420
POSTGRES_PORT=5432